* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 75vw;
    margin: 5vh auto 0;
}

.header-top {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header-top__heading {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.header-top__nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.header-top__nav ul li {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    margin: 5px auto;
}

.header-top__nav ul li a {
    font-weight: bold;
    font-size: 17px;
}

.nav-list li a {
    color: grey;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    border-bottom: 1px solid gray;
}

.main-content section {
    width: 70%;
}

.main-content p {
    margin: 2vh 0;
}

.main-content__heading {
    font-weight: bold;
    font-size: 25px;
}

.main-content__highlight {
    background-color: rgb(189, 188, 188);
    border-radius: 5px;
    padding: 1vh;
    font-style: italic;
}

aside {
    border-left: 1px solid gray;
    padding: 0 3.5vh;
    margin: 0 2vh;
    width: 30%;
}

aside section {
    margin: 3vh 0;
}

aside ul li {
    margin: 1.5vh 0;
}

aside ul li a {
    font-size: large;
    font-weight: bold;
}

.nav-list ul li a {
    color: rgb(86, 85, 85);
    text-decoration: none;
}

.footer {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1vh 0;
}
