@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

header nav a {
    border: 1px solid black;
    text-decoration: none;
    border-radius: 3px;
    padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    font-weight: 1000;
    color: rgb(86, 85, 85);
}

.content {
    display: inline-block;
    width: 75%;
}

.content--text {
    margin-bottom: 2vh;
}

.content--highlight {
    background-color: rgb(189, 188, 188);
    border-radius: 5px;
    padding: 1vh;
    margin-bottom: 2vh;
}

.sidebar {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    border-left: 1px solid gray;
    padding-left: 3.5vh;
    width: 20%;
    margin-left: 2vh;
}

section nav a {
    color: rgb(86, 85, 85);
    text-decoration: none;
    display: block;
    margin-bottom: 2vh;
}

hr {
    margin-top: -0.05vh;
}

footer {
    text-align: center;
}